<section id="memory" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>Memory</h1>
        <div>
            <div class="memory-metric">
                <div class="memory-header">Total Memory</div> <span class="memory-value" id="memory-totalmem"></span>
            </div>
            <div class="memory-metric">
                <div class="memory-header">Free Memory</div> <span class="memory-value" id="memory-freemem"></span>
            </div>
            <div class="memory-metric">
                <div class="memory-header">Uptime</div> <span class="memory-value" id="memory-uptime"></span>
            </div>
        </div>
    </div>
</section>
